<!DOCTYPE html>
<html lang="en" xmlns :th="http://www.thymeleaf.org">
<head>
<head>
    <meta charset="UTF-8">
    <title>Bienvenue</title>
</head>
<body>
<h1>Votre boutique de DVD en ligne</h1>
<h2>We started Invoise to change the game for small business. Our beautiful cloud-based accounting software connects people with the right numbers anytime, anywhere, on any device. For accountants and bookkeepers, Invoise helps build a trusted relationship with small business clients through online collaboration. We’re proud to be helping over 2 million+ subscribers worldwide transform the way they do business. And we’re just getting started.</h2>
</body>
</html>